body{
	
	font-family: 'Raleway', sans-serif;
	
}
main {

	max-width: 1440px;
	padding: 0px 20px;
	margin: auto;
	box-sizing: border-box;

}

/*-----  HEADER  -----*/

header {

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end ;

	background-color: burlywood;
}

nav {

	display: flex;
	margin-left: 90px;
}

nav > a { /* hébergements + ativités */

	display: flex;
	align-items: flex-end;
	justify-content: center;

	width: 150px;
	height: 50px;

	text-decoration: none;
	color: black;
	border-top: 3px solid white;
}

header > a { /* register */

	display: flex;
	justify-content: center;
	align-items: flex-end;

	width: 150px;
	height: 50px;

	color: #0065fc;
	font-weight: bold;
	text-decoration: none;
	border-top: 3px solid white;
}

nav a:hover {

	font-weight: bold;
	color: #0065fc;
	border-top: 3px solid #0065fc;
}

/*-----  section-1  -----*/

.section-1 {

    display: flex;
    flex-direction: column;  /* positionne map et recherche sous h1 et p */

    background-color: aqua;
}

h1 {

	margin-top: 30px;
	background-color: bisque;
}

.section-1 p {

	background-color: gray;
}

.search-container {

	display: flex;
	align-items: center;

	padding: 10px 0px;

	background-color: pink;
}

.search {

	display: flex;
	padding: 10px 0px;

	background-color: powderblue;
}

.map{

	justify-content: center;
	padding: 20px;

	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	border-radius: 15px 0 0 15px;

	font-size: 1.2rem;
	background-color: #f2f2f2;
}

.champstext {

	padding: 0px 15px;

	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: none;
	border-right: none;

	font-size: 1.2rem;
	font-weight: bold;
}

#loupe {

	display: none;
}

.rechercher {

    padding: 0px 20px;

	border-radius: 0px 15px 15px 0px;
	border: 1px solid #0065fc;
	
	font-size: 1.2rem;
	font-weight: bold;
	color: white;
	background-color: #0065fc;
}

/*-----  section-2  -----*/

.section-2 {

	display: flex;
	flex-wrap: wrap;

	background-color: antiquewhite;
}

.filter { /* filtre , icon , span . sur la même ligne pas aligné */

	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.filter-left { /* h2 */

	display: flex;
	flex-wrap: wrap;
	
	margin-right: 30px;
	font-size: 1.2rem;
	background-color: violet;
}

.filter ul { /* icon + span eco ... sur la même ligne */

	display: flex;
	flex-wrap: wrap;
	align-items: center;

	margin: 0px;
	padding-left: 0px; /* mettre P.L 0px pour que filter ul li se colle à h2 */
}

.filter ul li { /* icon plus span */

	display: flex;
	align-items: center;

	padding: 10px 0px;

	background-color: white;
}

.filter i {

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; /* mettre P.A pour que les icons puissent etre à côté de leur span */

	width: 25px; /* entoure l'icone avec height */
	height: 26px;
	padding: 15px; /* modifie la taille de l'icon */

	border-radius: 30px;
	background-color: #deebff;
}

.filter-icon span { /* placement des icônes */

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 30px; /* marge entre les span */
	padding: 15px 30px 15px 65px; /* le padding positionne l'icône à la gauche de son span */

	border: 2px solid #d9d9d9;
	border-radius: 30px;
	color: black;;
}

.filter a { /* apparence icônes + span */

	font-size: 1.2rem;
	font-weight: bold;

	color: #0065fc;
	text-decoration: none;
}

.filter :hover {

	color: #0065fc;
}

/*-----  Info  -----*/

#info {

	display: flex;
	align-items: center;

	margin: 10px 0px 20px 0px;
	background-color: thistle;
}

#info span {

	margin-right: 10px;
}

.fa-info {

	display: flex;
	justify-content: center;

	padding: 6px 10px;

	font-size: 0.8rem;
	color: #0065fc;

	border: 1px solid #d9d9d9;
	border-radius: 30px;
}

/*-----  Section-3  -----*/

.section-3 {

	display: flex;
	flex-wrap: wrap;
}

.hébergements {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 900px;

	background-color: #f2f2f2;
	border-radius: 15px;
}

.hébergements h2 {

	display: flex;
	width: 100%;
}

.hébergements  img {

	width: 250px;
	height: 110px;
	object-fit: cover;
}

.populaires {

	background-color: #f2f2f2;
	border-radius: 15px;
}
.populaires img {

	width: 120px;
	height: 130px;
	object-fit: cover;
}


