body{
	
	font-family: 'Raleway', sans-serif;
	
}


main {

	box-sizing: border-box;
	max-width: 1440px;
	width: 100%;
	padding: 0px 20px;
	margin: auto;
	
}

/* ----- HEADER ----- */

header {
	
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    margin-right: 2em;
    margin-left: 2em;
    padding-bottom: 20px;
    
}

.logo {
	
	position: absolute;
    top : 30px;
    left: 50px;

}



 nav {

	display: flex;
    margin-left: 95px;
}

nav > a {  /* hébergements activités */
    
	display: flex;
	align-items: flex-end;
    justify-content: center;  

    width: 150px ;
    height:60px;

  	text-decoration: none;
    color:black;
    border-top: solid 3px white;

 }
 
header > a {
    	
   	display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 150px;
    height: 60px;

    text-decoration: none;
   
    color: #0065FC;
    font-weight: bold;
    border-top: solid 3px white;

}

nav  a:hover {
    
   	font-weight: bold;
    color : #0065FC;
    border-top: solid 3px #0065FC;
        
}
   
/* ----- section-1 -----*/

.section-titre {

	display: flex;
	flex-direction: column;
	
	margin-top: 25px;
	margin-bottom: 15px;

	/*border:1px solid blue;*/

}

h1 {

	margin-top: auto;
	margin-bottom: 10px;

	font-size: 1.5rem;
	/*border:1px solid green;*/
}

.section-1 p {

	display: flex;
	flex-wrap: wrap;

	margin-bottom:auto;
	margin-top: auto;

	font-size: 1rem;
	/*border:1px solid orange;*/
	
}

/* search-container */

.search-container { /* form search box index.html */
	
	display: flex;
	align-items: center;

	margin-bottom: 10px;


	/*border:1px solid green;*/
}

 .map {  /* ville */

	justify-content: center;
	border-radius: 10px 0 0 10px;
	padding: 10px;
	background-color:#F2F2F2;
	box-sizing: border-box;
	border: 2.5px solid #F2F2F2;

}

.champstext { /*champs*/

	text-align: left;

	margin-left: 0px;
	padding: 10px;

	border:none;
	font-size: 1.2rem;
	font-weight: 600;

	border-top: 1px solid #d9D9D9;
	border-bottom:1px solid #d9D9D9;
	

}

.rechercher { /* button rechercher */

	/*padding: 10px;*/

	border-radius: 0px 15px 15px 0;
	border: 0px;
	background-color: #0065fc;
	color: white;
	
	border:1px solid #0065fc;
	font-size: 1.2rem;
	font-weight: 500;

	width: 135px;
	height: 44px;
	justify-content: center;


}

#loupe {

	display: none;

}



/* ----- Section-2 ----- */ 

.filter {

	display: flex;
	flex-wrap: wrap;

	align-items: center;

	/*margin: auto;*/
	margin-top: 30px;
	

	/*border:2px solid blue;*/
}

.filterleft {

	display: flex;
	flex-wrap: wrap;
	align-items: center;	
	
	margin-right: 25px;
	line-height: 1;
	font-size: 1.2rem;
	font-weight: 700;
	color: black;	
}

.filter ul {

	display: flex;
	flex-wrap: wrap;
	align-items:center;

	padding-left: 0px;
	margin: 0;

	/*border:1px solid green;*/
	/*une fois le reset créer mettre un margin:0 et enlver le padding ou mettre a 0 car il y en a un par defaut*/

}

.filter ul li {

	display: flex;
	position: relative;
	align-items: center;

	height: 44px; 
	/*box-sizing: border-box;*/

	border:2px solid #d9D9D9;

}

.filter-icon {

	margin:10px 20px 10px 0px; 

	border: 2px solid #F2F2F2;
	border-radius: 30px;	

}

.filter-icon span {

	justify-content: center;
	align-items: center;

	padding-right: 10px;
	margin: 0 10px 0 60px;
	
	color: black;
	font-size: 1.2rem;
	font-weight: 600;

}

.filter i {  /*icon*/

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;

	width: 48px;
	height: 48px;
	top: -2px;
	left:-2px;
	
	background-color: #DEEBFF;
	border-radius: 46px;
	color: #0065FC; /*COULEUR ICON ECO FAM ... */	

}

a {

	display: flex;
	text-decoration: none;
}

.filter :hover {

	color: blue;
	
}

/* id=info */

#info { 

	display: flex;

	margin-top: 15px;

	/*border:2px solid black;*/

}

#info span { 
	
	display:flex;
	/*border: 2px solid green;*/

}

.fa-info {

	display: flex;

	margin: auto;
	margin-right: 10px;
	
	padding:5px 9px 5px 9px;

	color: #0065FC;  	
	border:1px solid #d9D9D9;
	border-radius:30px;

	font-size: 0.8rem;
	font-weight: 400;
}

/* Section-3 Hébergements + Populaires */

.section-3 {

	display: flex;
	justify-content: space-between;
	
	flex-wrap: wrap;
	
	margin:30px 0 0 0;
	/*flex-direction: column-reverse;*/
	
	/*border: 4px solid green;*/
}

.hébergement .populaires {

	display: flex;

	text-align: justify;
}

/* Hébergements */

.hébergements { 
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin-right: 30px;
	padding: 0 15px 0 15px;

	flex: 1;

	background-color: #F2F2F2;
	border-radius: 20px 20px 20px 20px ;
	/*border:4px solid black;*/
}

.hébergements h2 {

	margin: 40px 0 0 0;
	padding-left: 25px;

	font-size: 1.3rem;
	/*border: 2px solid green;*/	
}

.card-left { /* container avec toutes mes cartes */

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	margin-bottom: auto;
	/*border:2px solid blue;*/
}

.card1 {  /* tout ce qu'il y a dans le contenu border white */

	display: flex;
	flex-direction: column;

	margin:20px 5px;
	padding: 5px;

	background-color: white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0px 10px 0px rgb(170, 170, 170);	

}

.hébergements img {

	display: flex;
	position: relative;
	flex-flow: row;
	
	min-width: 230px;
	max-height: 115px;

	object-fit: cover;
	border-radius: 15px 15px 0px 0px;

}

.description { /* h3 ,p et mes icons */

	display:flex;
	flex-direction: column;

	padding: 5px 0 0 10px;

	/*border:3px solid pink;*/
}

.card-left > a  {
	
	text-decoration: none;
	color: black;

}

.description h3 {

	margin: 2px;
	
	font-size: 1.1rem;
	line-height: 1.1rem;

	/*border: 2px solid black;*/
}

.card1 p {

	display: flex;
	
	margin:2px;

	font-size: 1rem;
	/*border:2px solid pink ;*/
}

.description span {

	display: flex;

	margin: 5px 0 3px 0;

	/*border:2px solid orange;*/
}

.afficher {

	display: flex;

	margin-left: 20px;

	font-weight: bold;
	font-size: 1.2rem;

}

.afficher :hover {

	color: blue;
	
}
/* Les plus populaires */

.populaires { 

	width: 450px;

	margin:0px;
	padding: 20px 0px;

	background-color: #F2F2F2;
	border-radius: 25px 25px 25px 25px ;
	/*border:3px solid black;*/
}

.chart { /* h2 + graphique fleche*/

	display: flex;
	justify-content: space-between;

	padding: 0px 0 0 10px;
	margin: 20px 0 0 0px;
	
	/*border:1px solid orange;*/
}

.populaires h2 {

	padding-left: 20px;
	margin: 0 0 20px 0;

	font-size: 1.3rem;
	/*border:2px solid blue;*/	
}

.fa-chart-line {

	margin-right: 20px;

	font-size: 1.3rem;
	/*border:1px solid blue;*/	
}

.card-right {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	
	margin: 5px;
	
	/*border:3px solid yellow;*/
}

.card2 {

	display: flex;
	
	margin: 15px 45px 15px 45px;
	padding: 5px;
	
	text-decoration: none; 
	background-color: white; 

	border-radius: 20px 20px 20px 20px; 
	box-shadow: 0 0px 10px 0px rgb(170, 170, 170);
	/*border: 1px solid  blue;*/
}

.populaires img { 

	width: 125px;
	height: 130px;
	
	object-fit: cover;
	border-radius: 15px 0px 0px 15px;

	/*border: 2px solid orange;*/
}	

.description-populaires {

	display: flex;
	flex-direction: column;

	padding: 10px 2px; 
	margin: 0px 0 0 15px;

	flex:1;
		
	/*border:3px solid pink*/
}

.description-populaires h3 {

	font-size: 1.1rem;
	line-height: 1.1rem;

	margin: 0 0 10px 0;
	color: black;

	/*border:2px solid yellow;*/
}

.populaires p {

	text-align: left;

	margin-top: 0px;

	font-size: 1rem;
	color: black;
	/*border: 2px solid green;*/
}

.card2 span {

	display: flex;

	margin-top: auto;
	margin-bottom: 5px;

	/*border:2px solid orange;*/
}

.fa-star {

	margin-top: auto;
	
	color: #0065fc;
	font-size: 0.8rem;
}

.far {

	color:#F2F2F2;

}

/* ----- Section activités ----- */

#section-activités {
    
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
   
    margin:50px 0px;
    padding: 0px;

    max-width: 1440px;
    height: auto;
	
}

#section-activités h2 {
    
	width: 100%;
    margin-left: 15px;

	font-size: 1.3rem;
}

#container1 , #container2 { /*Disposition img*/
   
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	/*justify-content: space-between;*/
	/*margin-left: 40px;*/

    flex: 1;

    max-width: 700px;
} 

.colonne { /*Pomègue + Frioul, NDGarde + Longchamps */
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-right: 10px;

}

#container2  .colonne  .small  a  div  img { /*Position img NDGarde */
 	
	object-position: top;
}
  
/* Small  Ile du frioul + NDGarde */ 

.small  a {
    
    text-decoration: none;
}

.small  a  div  {
   
    width: 300px;
    height: 165px;

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0px 10px 0px rgb(170, 170, 170);

}

.small  a  div  img { 
   
	width: 300px;
    height: 110px;

    object-fit: cover;
    border-radius: 20px 20px 0 0;

}

.small  a  div  h3 {/* Img Frioul + NDGarde */
    
  	margin: 10px 0 0 20px;

    color:black;
	font-size: 1.1rem;

}

/* Moyenne Img Fort Pomègues +Parc Longchamp  */

.moyenne  a {     
    text-decoration: none;

}

.moyenne  a  div {
   
    width: 300px;
    height: 235px; 

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgb(170, 170, 170);

}

.moyenne  a  div  img { 

    width: 300px; 
    height: 180px; 
  
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;

}

.moyenne  a  div  h3 { 
    
    margin: 10px 0 0 20px;

	color: black;
	font-size: 1.1rem;

 }

/* Big  Vieux port + Calanques */

.big  a {

    text-decoration: none;
}

.big  a  div  img {/* Img  Vieux port, Calanques */
   
    width: 300px; /* + le px est haut plus l'image sortira de la bordure blanche*/
    height: 390px; /* hauteur img */

	object-fit: cover;
    border-radius: 20px 20px 0 0;  

}

.big a  div { /* Img  Vieux port, Calanques */
    
    width: 300px; 
    height: 445px; 
   
	border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0px 10px 0px rgb(170, 170, 170);

}

.big  a  div  h3 { 
    
    margin: 10px 0 0 20px;

	color: black;
	font-size: 1.1rem;
}

/* ----- FOOTER ----- */

.footer { /*centrer gauche,taiile,couleur*/ /* separer propriete     */

	display: flex;
	flex-wrap: wrap;

	padding: 30px;	
	margin:30px -30px 0 -30px;

	background-color: #F2F2F2;
	
}

footer li a { /*couleur, enlever soulignement,*/

	display: flex;
	
	text-decoration: none;

	color: black;
	
}

footer h3 {

	margin-top: 0px;
	padding-bottom: 0px;

	font-size: 1.1rem;
	color: black;

}

footer ul { /*centrer gauche, enlever puces ,taille*/

	display:flex;
	flex-direction: column;

	padding: 0px;
	margin-right: 60px;

	list-style: none;
	line-height: 2;

	font-size: 0.8rem;
}

.a-propos {

	flex: 1;
}

.nos-hébergements {

	flex: 1;
}

.assistance {

	flex: 1;
}

.footer ul :hover {

	color: blue;
	
}

/*-----RESPONSIVE-----*/

@media screen and (max-width: 450px) {

 header {


        flex-wrap: wrap-reverse;
        margin: 0;
        padding-bottom: 0px;
    
    }

    .logo {

        top:30px;
        left: 20px;
    }

    nav {

        margin: 0;
        width: 100%;
    }

    nav > a {

        width: 50%;
        justify-content: center;
        align-items: center;
        border-bottom: solid 3px #F2F2F2;
    }

    header > a {

        width: 150px;
        height: 57px;
        margin-bottom: 0px;
        margin-bottom: 10px;
    }

    nav > a:hover {

        border-bottom: solid 3px #0065FC;
        border-top: solid 3px white;
    }

	

	.rechercher {

		display: flex;
		align-items: center;
		width: 45px;
		height: 45px;
		border-radius: 15px;
		background-color: #0065FC;
		color:white ;
		margin-left: -15px;
	}

	.rechercher span{

		display: none;

	}

	#loupe{

		display: block;

		width: 23px;
		height: 22px;

		color: white;
		border-radius: 20px 20px 20px 20px;

	}

	.filter ul {

		border: 1px solid red;
		
	}

	.section-3{

		
		flex-direction: column-reverse;
	
	
	}

	.populaires {

		width: 100%;
		min-width: 450px;

		border-radius: 0px;
		box-sizing: border-box;

	}

	.card-right {

	display: block;
		width: 100%;

		margin: 0px;

	}


	.card-left {

		display: block;
		width: 100%;

		margin: 0px;

	}

	.hébergements {

		width: 100%;
		min-width: 450px;
		/*padding: 0px;*/
		margin:0px;

		background-color: white;
	}

	.hébergements h2{

		width: 100%;

	}

	.card1 {

		width: 100%;
		
	}

	#section-activités {

		width: 100%;
		flex-direction: column;
		
	}

	#container1, #container2{

		width:450px;
	
		
	}
	
	#section-activités h2{

		font-size: 1.3rem;

	}	
	
/*card Frioul + NDGarde*/

	.small a div {

		width: 100%;
		height: 190px;

		margin-bottom:40px; 

	}

	.small a div img {

		width: 100%; 
		height:135px;

	}

	.small a div h3 {
		
		padding-bottom: 30px;

	}

/* card Pomègues - Longchamps */

	.moyenne a div{

		width: 100%;
		height: 190px;

		margin-bottom:40px; 

	}

	.moyenne a div img {
		
		width: 100%; 
		height:135px;

	}

	.moyenne a div h3 {

		padding-bottom: 30px;

	}

/*card Vieux port + Calanques */

	.big a div {

		width: 100%;
		height: 190px;

		margin-bottom:40px;

	}

	.big a div img {

		width: 100%; 
		height:135px;

	}

	.big a div h3{

		padding-bottom: 30px;

	}

	.footer {

		min-width: 450px;
		flex-direction: column;

		padding: 50px; 
		margin-top: -20px;

	}

	.footer h3 {

	padding-top: 5px;

	}
}